<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

<!--   Deinfe beans here-->
<!--    two things needed to configure bean here-->
<!--    1. The special identifier and the full extention to the class name starting from the package name-->

<!--   define dependency for your bean-->
    <bean id="myCoach"
    class="jerry.BaseballCoach"
    >

<!--   2     the class to implement the construction injection must have a onstructor, e.g
    the constructor injection will not work for happy fortune service because it does not have any constructor
-->
        <constructor-arg ref="myFortune"/>
    </bean>

<bean id="myFortune" class="jerry.HappyFortuneService">
<!--    using constructor injection in here -->


</bean>

</beans>