<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

<!--   Deinfe beans here-->
<!--    two things needed to configure bean here-->
<!--    1. The special identifier and the full extention to the class name starting from the package name-->
    <bean id="myCoach"
    class="jerry.TrackCoach"
    >

    </bean>

</beans>